* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;

    input {
        font-family: 'Quicksand', sans-serif;
        color: rgb(212, 153, 50);
    }
}

.text-center {
    text-align: center;
}

.bar-chart {
    font-size: 14px;
    font-weight: 600;
}

.container {
    .box {
        display: flex;
    }
}

.small-text {
    font-size: 12px;
    color: grey;
    font-weight: 500;
}

.login, .register {
    width: 100%;
    height: 100%;

    .formBox {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: fit-content;
        height: fit-content;
        padding: 3rem;

        form {
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: .4rem;
            width: fit-content;
            height: fit-content;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            input {
                border: 1px solid rgba(0, 0, 0, 0.2);
                border-radius: .2rem;
                width: 100%;
                min-width: 16rem;
                padding: .6rem;
            }

            button {
                padding: .6rem;
                border: none;
                background-color: rgb(113, 113, 234);
                color: white;
                font-weight: 600;
                cursor: pointer;
                border-radius: .2rem;
                border: 1px solid transparent;
                transition: .1s;
                &:hover {
                    background-color: white;
                    color: rgb(113, 113, 234);
                    border: 1px solid rgb(113, 113, 234); 
                }
            }

        }
        p {
            font-size: 14px;
            text-align: center;
            margin: .5rem;
            button {
                border: none;
                background: none;
                color: rgb(113, 113, 234);
                font-weight: 600;
                cursor: pointer;
                margin-left: .5rem;
            }
        }
    }

}




.page {
    width: 100%;
    padding: 2rem;
    background-color: white;
}



.header {
    padding: 2rem;
    background-color: white;
    width: 16%;
    min-width: 17rem;
    height: 100%;
    h3 {
        font-size: 1rem;
        color: rgb(113, 113, 234);
    }
    .user-email {
        font-size: 12px;
    }
}

.label {
    font-weight: 600;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: fit-content;
    color: rgb(80, 80, 89);
    
}

.sub-label {
    font-size: 12px;
    flex-direction: row;
    gap: .3rem;
}

.form-box {
    width: fit-content;
    display: flex;
    gap: 1rem;
    padding: .5rem;
    align-items: center;
}

.spaced {
    width: 100%;
    justify-content: space-between;
}

.card {
    border: 1px solid rgb(235, 235, 243);
    background-color: white;
    padding: 1rem;
    width: 20rem;
    min-width: 18rem;
    min-height: 10rem;
    border-radius: .8rem;
    cursor: pointer;
    transition: .1s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h4 {
        color: rgb(113, 113, 234);
    }
    .card-header {
        border-bottom: 3px dotted rgb(235, 235, 243);
    }
    .card-label {
        margin: .1rem 0;
        font-size: 11px;
        font-weight: 700;
        color: grey;
        span {
            font-size: 13px;
            font-weight: 600;
            color: rgb(80, 80, 89);
        }
    }
    .category {
        font-size: 12px;
        font-weight: 600;
        padding: .1rem .4rem .1rem .2rem;
        border-bottom-right-radius: .6rem;
        border-top-right-radius: .6rem;
    }

    .card-status-box {
        width: 100%;
        p {
            font-weight: 600;
            width: 100%;
            text-align: center;
            font-size: 12px;
            border-radius: .3rem;
        }
    }
}

.Estrutural {
    background-color: rgb(161, 154, 241);
    color: white;
}
.Consultoria {
    background-color: rgb(116, 165, 96);
    color: white;
}


.fechado, .Fechado {
    box-shadow: 0px 0px 4px rgb(212, 212, 50);
    color: rgb(212, 212, 50);
}
.negociando, .Negociando {
    box-shadow: 0px 0px 4px rgb(208, 75, 75);
    color: rgb(208, 75, 75);
}
.entregue, .Entregue {
    box-shadow: 0px 0px 4px rgb(212, 153, 50);
    color: rgb(212, 153, 50);
}

.not-aligned {
    align-items: flex-start!important;
}


.projects {
    border: 1px solid rgb(235, 235, 243);
    background-color: rgb(249, 249, 252);
    padding: 1rem;
    max-width: 64.2rem;
    min-width: 64.2rem;
    border-radius: .8rem;
    transition: .2s;
    .filter-options {
        display: flex;
        width: 100%;
        form {
            width: 100%;
        }
        input {
            width: 100%;
        }
        .select {
            margin-bottom: 1rem;
            margin-right: 1rem;
        }
    }

    .projects-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        .addProject-button {
            background-color: white;
            cursor: pointer;
            transition: .1s;

            &:hover {
                background-color: rgba(212, 78, 78, 0.03);
            }

            i {
                color: rgba(212, 78, 78, 0.2);
            }
        }

        .project {
            transition: .1s;
            &:hover {
                box-shadow: 0rem 0rem 3px rgba(78, 94, 212, 0.2);

            }
        }
    }
}


i {
    color: rgba(212, 78, 78, 0.2);
}

.select {
    border-radius: .2rem;
    max-width: fit-content;
    border: 1px solid rgba(78, 94, 212, 0.2);
    color: rgb(80, 80, 89); 
    background: none;
    padding: .5rem;
    outline: none;
}

input {
    border-radius: .2rem;
    border: 1px solid rgba(78, 94, 212, 0.2);
    color: rgb(80, 80, 89); 
    background-color: white;
    padding: .5rem;
    outline: none;
}

.full {
    width: 40rem;
}



.project-form {
    padding: 2rem;
    width: fit-content;
    margin: auto;
    height: fit-content;
    background-color: white;
    border-radius: .8rem;
    input[type="text"] {
        min-width: 12rem;
    }
    button {
        padding: .6rem;
        border: none;
        background: none;
        border-radius: .2rem;
        font-weight: 500;
        cursor: pointer;
        width: 10rem;
    }
    .submit {
        color: white;
        background-color: rgb(161, 154, 241);
    }
    .cancel {
        color: white;
        background-color: rgb(208, 75, 75);
    }
}

.modal {
    padding: 3rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
}

.input-error {
    color: red;
    font-weight: 500;
    font-size: 14px;
    margin: .5rem 0;

}

.input-success {
    color: rgb(161, 154, 241);
    font-weight: 500;
    font-size: 14px;
    margin: .5rem 0rem;
}

.link {
    text-decoration: none;
    color: rgb(80, 80, 89);
    &:hover {
        color: rgb(113, 113, 234);

    }
}

.title {
    font-weight: 600;
    font-size: 1.5rem;
    color: rgb(80, 80, 89); 
}

.menu-tabs {
    text-align: left;
    list-style: none;
    font-size: 14px;
    font-weight: 600;
    color: rgb(80, 80, 89); 
    margin: 6rem 2rem;
    border-right: 4px dotted rgba(128, 128, 128, 0.2);
    li {
        margin: 1rem 0;
        &:hover {
            color: rgb(161, 154, 241);
            cursor: pointer;
        }
    }

}

.flex {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.text-label {
    font-size: 13px;
    font-weight: 500;
    color: grey;

    margin: 1rem;
    span {
        margin-left: 1rem;
        font-weight: 600;
        font-size: 13px;
        color: rgb(80, 80, 89);
        border-bottom: 1px solid rgb(235, 235, 243);
        padding: .3rem;
        letter-spacing: .5px;

    }
}

.project-presentation {
    margin-bottom: 1rem;
    padding: 1rem;
    min-height: 16rem;
    border: 1px solid rgb(235, 235, 243);
    background-color: rgb(249, 249, 252);
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1 {
        font-size: 1.5rem;
        color: rgb(80, 80, 89);
    }
    h4 {
        font-size: 1.6rem;
        font-weight: 700;
        color: rgb(128, 128, 128);

    }
    h3 {
        font-size: 1rem;   
        color: grey;
    }
    .presentation-status-card {
        padding: .4rem 1rem;
        border-radius: 2rem;
        font-size: 14px;
        font-weight: 600;
        margin-top: 1rem;
        width: fit-content;
    }
    .presentation-tag {
        border: 1px solid  rgba(161, 154, 241, 0.513);
        font-size: 12px;
        font-weight: 600;
        color: rgb(161, 154, 241);
        padding: .2rem;
        border-radius: .2rem;
    }
    .presentation-category-card {
        font-size: 14px;
        padding: .6rem;
        font-weight: 600;
        border-bottom-left-radius: 2rem;
        border-top-left-radius: 2rem;
    }
    .presentation-date {
        font-size: 13px;
        font-weight: 500;
        color: grey;
        span {
            color: rgb(80, 80, 89);
            margin: 0 1rem;
            font-weight: 600;
        }
    }
    .presentation-project-value {
        font-weight: 600;
        color: rgb(80, 80, 89);
        font-size: 1.5rem;
        padding: 1rem;

    }
}



.graphics-container {
    border: 1px solid rgb(235, 235, 243);
    border-radius: .8rem;
    width: 100%;
    padding: 1rem;
    h4 {
        margin-top: 1rem;
        color: rgb(80, 80, 89);
        font-size: 14px;
    }
}



.clients {
    border: 1px solid rgb(235, 235, 243);
    background-color: rgb(249, 249, 252);
    padding: 1rem;
    max-width: 64.2rem;
    min-width: 64.2rem;
    border-radius: .8rem;
    .clients-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .filter-options {
        margin-bottom: 1rem;
        input {
            width: 100%;
        }
    }

}